[sql]
host = "YOURMYSQLSERVER"
user = ""
pass = ""
port = 3306
database = ""
debug = False
 
[Steam]
APIKey = "YOURSTEAMAPIKEY"

[GET5]
HOST = "localhost:8080"
DefaultPage = "/matches"
API_ONLY = False
ENABLE_gRPC = False
GPRC_ADDR = "localhost:50055"
Cookie = "YourSuperSecuretStringDoNotShare"

[MAPLIST]
Active = "de_dust2,de_mirage,de_inferno,de_overpass,de_train,de_nuke,de_vertigo"
Reserve = "de_cache,de_season"

[USER]
Max_Servers = 10
Max_Teams = 100
Max_Matches = 1000

# [ADMIN] #TODO...
