[sql]
host = "YOURMYSQLSERVER"
user = ""
pass = ""
port = 3306
database = ""
 
[Steam]
APIKey = "YOURSTEAMAPIKEY"

[GET5]
HOST = "localhost:8080"
DefaultPage = "/matches"
API_ONLY = False
ENABLE_gRPC = False
GPRC_ADDR = "localhost:50055"