@{
	import (
		"github.com/FlowingSPDG/get5-web-go/templates/helper"
		"github.com/FlowingSPDG/get5-web-go/templates/layout"
		"github.com/FlowingSPDG/get5-web-go/src/models"
	)
	layout := layout.Base
	totalMessage := 0
	var u *models.UserData
}


@helper.Header()
@helper.Msg(u)

@section title {
	<title>@u.Name's homepage</title>
}

@section side {
	<p>@u.Name has @totalMessage messages</p>
}